* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    color: #fff;
    background: rgb(150, 60, 178) ;
}

img {
    width: 100%;
}

h1, h2, h3 {
    margin: 10px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 0px;
}
a {
    text-decoration: none;
}
.navbar {
    background: rgb(205, 88, 205);
    color: #fff;
    height: 80px;
}

.navbar .logo {
    font-weight: bold;
    font-size: xx-large;
}

.navbar ul {
    list-style-type: none;
    display: flex;
}
.navbar ul li {
    margin-left: 20px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header {
    min-height: 400px;
    color: #fff;
    background: rgb(80, 23, 58);
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img {
    max-width: 700px;
}

.header h2 {
    font-size: 30px;
    font-weight: bold;
}

.header p {
    margin-bottom: 10px;
}

.header a {
    color: rgb(80, 23, 58);
    border: blanchedalmond solid ;
    border-radius: 7px;
    background-color:blanchedalmond;
}

.projects {
    padding: 1px;
    color: #fff;
    background-color: rgb(143, 8, 116);
    padding-bottom: 25px;
}

.projects h2{
    text-align: center;
    font-size: 40px;
    padding: 10px;
    color: blanchedalmond;
}

.projects .container {
    display: flex;
    justify-content: space-between;
}

.projects .project-content {
    flex: 1;
    margin: 2px 40px;
    background-color: rgb(80, 23, 58);
    border:rgb(80, 23, 58) solid 10px;
    border-radius: 12px;
}

.projects .img {
    min-width:200px;
    max-height: 100px;
}

.project-content a {
    color: rgb(80, 23, 58);
    border: blanchedalmond solid ;
    border-radius: 7px;
    background-color:blanchedalmond;
}

.founder-quote {
    color: #151515;
    background-color: rgb(255, 144, 233);
}

.founder-quote .container {
    padding: 50px 10px;
}

.founder-quote p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.founder-quote .quote {
    text-align: center;
    font-size: 36px;
}

.founder-quote .founder {
    text-align: end;
    font-weight: bold;
}
